.staffContainer {
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(0 0 0 / 85%);
  }

  .filter {
    margin: 36px 0 12px;

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global {
      .ant-row {
        & > div:last-child {
          text-align: right;

          button + button {
            margin-left: 16px;
          }
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }

  .tableTilte {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table {
    margin-top: 16px;

    .tableTilte {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tableContainer,
    .tableBottom {
      margin-top: 16px;
    }

    .tableBottom {
      text-align: right;
    }
  }
}
