.pass {
  position: relative;
  padding-left: 8px;
  &::before {
    position: absolute;
    left: -8px;
    top: 7px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(47, 131, 255, 1);
    border-radius: 50%;
  }
}
.reject {
  position: relative;
  padding-left: 8px;
  &::before {
    position: absolute;
    left: -8px;
    top: 7px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(255, 77, 79, 1);
    border-radius: 50%;
  }
}
.default {
  position: relative;
  padding-left: 8px;
  &::before {
    position: absolute;
    left: -8px;
    top: 7px;
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(255, 164, 53, 1);
    border-radius: 50%;
  }
}
